# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
garden_programs.Rproj
.DS_Store
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
# ICPSR data
data/icpsr_data/
# Prison agriculture data
data/raw_data/
# Prison boundary data
data/hifld_data/
# COVID-19 behind bars data
data/covid-19_behind_bars_data/
# COVID-19 behind bars script
scripts/covid-19_behind_bars.R
# Slides
slides/
# Literature and annotated bibliographies
literature/
# Facility-level (non-summary) generated views of data
writing/eda_output_internal